.profile
{ 
  background-color:#364346;
  border-bottom: 3px solid #888888;
  padding-top:30px;
  padding-bottom:30px;
  text-align:center;
  margin-top:90px;
  margin-bottom:40px;	
  }
  
  
.profile-image
{ border-radius:100px;
  height:170px;
  width:170px;
  border:2px solid #ffffff;
  }


#content
{ 
  margin-top:70px;
  margin-bottom:40px;	
  
  }

.newevent
{ background-color:#364346;
margin-top:20px;
margin-bottom:20px;
padding:20px;
border-bottom:3px solid #888888;
border-top:3px solid #888888;		

}  

.newevent textarea
{ -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height:180px;	
  background-color:#364346;
  border:2px solid black;
 }

 .event
{
background-color:#364346;
margin-top:20px;
margin-bottom:20px;
padding:20px;
border-bottom:3px solid #888888;
border-top:3px solid #888888;
}  

.event-image
{ 
  width:200px;
  
 }

.event-description
{
	font-family:Dosis;
	font-size:20px;
	
}

.event-title
{
	font-family:Dosis;
	font-size:30px;
	
}

.going-event
{ background-color:green;}

h3
{ text-align:center;
  }
  

.details
{
	text-align:left;
}
.details li
{ font-size:20px;
font-family:Dosis,sans-serif;
padding:5px;
border-bottom:1px solid #888888;
}  

.details li >a>i 
{ float:right;
padding-top:7px;}
.navbar
{ position:fixed;
top:0px;}

.myevent
{
margin-top:20px;
margin-bottom:20px;
padding:13px;
border-bottom:3px solid #888888;
border-top:3px solid #888888;}

.myeventa
{ font-size:20px;
 font-family:Dosis;
 font-weight:bold;
 text-transform:uppercase;
text-shadow: 2px 2px #555555;
 }

.fa-minus-circle{
text-shadow: 2px 2px #555555;
cursor:pointer;
}

.fa-plus-circle{
text-shadow: 2px 2px black;
cursor:pointer;
}

.fa-arrow-circle-right{
text-shadow: 2px 2px black;
cursor:pointer;
}
.going
{ background-color:#307C28;
}

.notgoing
{ background-color:rgba(170,57,57,0.5);
}

.toconfirm{
background-color:rgba(245,197,44,0.7);
}
.updateimage
{ text-align:center;}

.userimage
{ 
  height:180px;
  width:180px;
  border:2px solid #ffffff;
  margin-bottom:15px;
  }  
  
.userslist{
border: 3px solid #888888;

}

.users > div {
word-wrap:break-word;
}

.modal-content{
background-color:#364346;}

.modal-header{
border : none;
}
.users{
padding:10px;
border-bottom:1px solid #888888;
border-right:1px solid #888888;
border-left:1px solid #888888;
}
  
#search{
color:black;
width:100%;
border: 2px solid grey;
font-size:20px;
line-height:21px;
text-transform:uppercase;


}

.searchicon{
color:grey;
position:absolute;
top: 30px;
right: 15px;

}

.inputtext{
color:black;
font-family:Dosis;
width:250px;}

#hintred{
width:15px;
height:15px;
background-color: rgba(170,57,57,0.5);
border: 1px solid grey;
text-align:right;
}

#hintgreen{
width:15px;
height:15px;
background-color: #307C28;
border: 1px solid grey;
text-align:left;

}

#register{
height:600px;
 max-width: 100%;
    overflow-x: hidden;
   margin: 0 auto;
    display: block; 
}

.blue
{
background-color:#121f3c;
}

